{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container text-center">
  <h1 class="mt-4">CSV to Database</h1>
  <p class="lead">Convert a CSV file into a database object</p>
  <hr>
  
  {% if session.get('user') %}
  <!-- User is logged in: show all four cards -->
  <div class="row mt-5 justify-content-center">
    <!-- Card 1: Upload Data -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Upload Data</h5>
          <!-- Icon for Upload -->
          <div class="d-flex justify-content-center my-3">
            <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
              <i class="fa fa-upload fa-lg"></i>
            </div>
          </div>
          <p class="card-text">Upload a CSV file to add data to the database.</p>
          <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" class="mt-auto">
            <div class="mb-3">
              <input type="file" name="file" id="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Card 2: Download Data -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Download Data</h5>
          <!-- Icon for Download -->
          <div class="d-flex justify-content-center my-3">
            <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
              <i class="fa fa-download fa-lg"></i>
            </div>
          </div>
          <p class="card-text">Download the database as an Excel file.</p>
          <a href="{{ url_for('download') }}" class="btn btn-success w-100 mt-auto">Download</a>
        </div>
      </div>
    </div>
    <!-- Card 3: View Data -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">View Data</h5>
          <!-- Icon for View -->
          <div class="d-flex justify-content-center my-3">
            <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
              <i class="fa fa-eye fa-lg"></i>
            </div>
          </div>
          <p class="card-text">View the current data in the database.</p>
          <a href="{{ url_for('view') }}" class="btn btn-info w-100 mt-auto">View</a>
        </div>
      </div>
    </div>
    <!-- Card 4: Create Manual -->
    <div class="col-md-3 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Create Manual</h5>
          <!-- Icon for Create Manual -->
          <div class="d-flex justify-content-center my-3">
            <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
              <i class="fa fa-plus-circle fa-lg"></i>
            </div>
          </div>
          <p class="card-text">Manually add an entry to the database.</p>
          <a href="{{ url_for('create_manual') }}" class="btn btn-danger w-100 mt-auto">Create</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <!-- User is not logged in: show only Download and View cards with modified styling -->
  <div class="row mt-5 justify-content-center">
    <!-- Card for Download Data -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 border-success">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Download Data</h5>
          <!-- Icon for Download -->
          <div class="d-flex justify-content-center my-3">
            <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
              <i class="fa fa-download fa-lg"></i>
            </div>
          </div>
          <p class="card-text">Download the database as an Excel file.</p>
          <a href="{{ url_for('download') }}" class="btn btn-success w-100 mt-auto">Download</a>
        </div>
      </div>
    </div>
    <!-- Card for View Data -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 border-info">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">View Data</h5>
          <!-- Icon for View -->
          <div class="d-flex justify-content-center my-3">
            <div class="rounded-circle bg-dark text-white d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
              <i class="fa fa-eye fa-lg"></i>
            </div>
          </div>
          <p class="card-text">View the current data in the database.</p>
          <a href="{{ url_for('view') }}" class="btn btn-info w-100 mt-auto">View</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

